@font-face {
  font-family: 'Windsor Regular';
  src: url('Windsor Regular.ttf');
}

#title {
  font-family: 'Windsor Regular';
}

#title > div {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.loom, .video, img, p, ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loom {
  width:70%;
  height: 40vw;
  max-height: 400px;
  max-width: 800px;
}

.vimeo {
  height: 22vw;
  width: 50vw;
  margin-left: -7.5vw;
}

.video {
  width: 70%;
  height: 30vw;
  max-height: 400px;
  max-width: 800px;
}

#the {
  background: linear-gradient(to right, red, red, orange);
}

#wholecode {
  background: linear-gradient(to right, red, orange, green);
}

#catalog {
  background: linear-gradient(to right, red, orange, green);
}

/* Tufte CSS */

article { 
  background: #fffff8;  
}

section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
}

p {
    padding-right: 0;
    vertical-align: baseline; 
    line-height: 1.6em;
}

section > ul,
section > p,
section > footer,
section > table {
    width: 80%; 
    max-width: 900px;
}

img {
  width: 80%;
  max-width: 700px;
}

a:link,
a:visited {
    color: inherit; 
}

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    font-family: 'Noto Serif JP', serif;
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter; 
}

@media (max-width: 760px) {
     article { 
      background: #fffff8;
      padding: 2rem 0rem; 
      
    }

    body {
        width: 82%;
        padding-left: 8%;
        padding-right: 8%; 
    }
    
    hr,
    reviewsAndTags,
    section > p,
    section > footer,
    section > table {
        width: 100%; 
    }

    img {
      width: 100%;
    }
    .video {
        width: 100%;
        height: 219px;
    } 
    .loom {
      width: 100%;
      height: 236px;
    }
}
