---
---

@import "{{ site.theme }}";

$foc-green: #00c784;

.foc {
  color: $foc-green;
}

.title {
  font-size: 35px;
}

nav > a {
  display: inline-block;
  color: $gray-500;
  padding-right: 10px;
  font-size: 20px;
}

.patreon {
  width: 100px;
  vertical-align: middle;
  border-radius: 10px;
}
