---
---

@import "{{ site.theme }}";

$foc-green: #0C8;

// Used "foc" as the first half since the light and dark colors were derived from foc-green; hsl(160, 100%, 40%).
// Should they be renamed, not to look like the "official" light and dark colors?
$foc-light: hsl(160, 29%, 97%);
$foc-dark: hsl(160, 85%, 5%);

body {
  background: $foc-light;
  color: $foc-dark;
}

.foc {
  color: $foc-green;
}

nav {
  margin-bottom: 24px;
}

nav > a {
  display: inline-block;
  color: $gray-500;
  padding-right: 10px;
  font-size: 20px;
}

.foc.title {
  display: block;
  background: $foc-green;
  margin-bottom: 16px;
  padding: 0;
}

.foc.title img {
  width: 320px;
  // aspect-ratio: 4 / 1;
}

@media (max-width: 1012px) {
  .foc.title {
    display: block;
    margin-top: -32px!important;
    margin-left: -16px;
    width: 100vw;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: $foc-dark;
    color: $foc-light;
  }
  nav > a {
    color: $gray-400;
  }
  h1, h2 {
    border-bottom: 1px solid hsla(160, 3%, 100%, 0.32)!important; //sorry, need to move this somewhere it doesn't need important
  }
  a {
    color: $foc-green;
  }
}
