---
---

@import "{{ site.theme }}";

$foc-green: #0C8;

.foc {
  color: $foc-green;
}

nav {
  margin-bottom: 24px;
}

nav > a {
  display: inline-block;
  color: $gray-500;
  padding-right: 10px;
  font-size: 20px;
}

.foc.title {
  display: block;
  background: $foc-green;
  margin-bottom: 16px;
  padding: 0;
}

.foc.title img {
  width: 320px;
  // aspect-ratio: 4 / 1;
}

@media (max-width: 1012px) {
  .foc.title {
    display: block;
    margin-top: -32px!important;
    margin-left: -16px;
    width: 100vw;
  }
}
