<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <header>
      <a href="/" class="foc title">
        <img src="/assets/glitch-logo-wide.svg" alt="Future of Coding">
      </a>
      <nav>
        <a href="/community">Community</a>
        <a href="/episodes">Podcast</a>
        <a href="https://wiki.futureofcoding.org">Wiki</a>
      </nav>
    </header>
      {{ content }}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
